* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}


.hero-section{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    gap: 5vw;
}

.hero-section, .header {
    padding: 0 15vw;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.header p {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header .header-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.header-link a, .hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero-text-container {
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.button {
    background-color:#3882f6;
    border-radius: 5px;
    padding: 5px 20px;
    color: #f9faf8;
    font-weight: 900;
}
